
/* colores que usa leonidas
    gris oscuro = #1d252c  -> header
    gris claro = #626262   --> 
    background gris = #1b2127  --> hero
    celeste = #026fff -->letras strong

*/





body{
    font-family: 'Source Sans Pro', sans-serif;
     margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
}

/* uso de comillas con fuentes que llevan un espacio en su nombre */

/* Primera forma de hacerlo */
/* .container{
    max-width: 1000px;
    margin: 0 auto;
} */

body{
    /* background-color: #1e354d;   */
}


/* TODO: ESTILOS HEADER  */


/* leonidas usa la propiedada height: inherit con fines didacticos 
para hereadar la altura del header y aplicarle un display flex a
las ancla para luego centarlas verticalmnete */
.header {
    background-color: rgb(30, 53, 77);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    height: 90px;

}

.header__logo{
    margin: 0;
    width: 17%;
    height: inherit; /*Heredar el alto del padre es decr 90 px*/
    display: flex;
    align-items: center;
}

.header__imagen{
    width: 60px;
    height: inherit;
    border-radius: 10px;
}

.header__innobytes{
    font-size: 20px;
    letter-spacing: 4px;
    margin-left: 20px;
}

/* .header__menu{ */
    /* display: flex; */
    /* align-items: center; */
    
/* } */

.header__list-ol{
    list-style: none;
    display: flex;
    
}

.header__item{
    margin: 0 20px;
    font-size: 18px;
}

.header__link{
    color: white;
    text-decoration: none;
    transition: all ease-in 300ms;
}

.header__link:hover{
    color: rgb(105, 165, 245);
}




/* Contenedor que permite alinear todo horizontal y est en cada seccion de la web site */
.wrapper{
    max-width: 1000px; /*De fijo a variable pasando a un ancho maximo*/
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
    flex-direction: inherit;
}





/* TODO: ESTILOS HERO */
.hero {
    
    padding: 1em;

    /* background-image: url(images/canada.jpg); */
    /* background-position-x: right; */
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-color: #FFE53B; */
    background: linear-gradient(169deg, rgb(85, 206, 250) 14%, rgb(55, 236, 155) 86%);
    /* background-image: linear-gradient(107deg, #FFE53B 0%, #FF2525 91%); */
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.hero__titulo{
    line-height: 1.5; /*es igual a poner 150px o 150%*/
    letter-spacing: -.2px;
    font-size: 40px;
    color: white;

    /* margin: 0; */
    /* TODO: responsive design con margenes
    margin-right: 520px */
}

.hero__titulo strong{
    color: #026fff;
}

.hero__imagen{
    object-fit: cover;
    border-radius: 10px;
}





/* TODO: ESTILOS PROYECTOS */

.project{
    background-color: #fafafa;
    padding: 20px;

}

.project__general-title, .title-experience{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.project_portfolio{
    
    /* border-color: teal;
    border-style: solid;
    border-width: 1px;  */
    /* TODO:
     Lo anterior resumido en: */
    border: 1px solid teal;
    border-radius: 10px;

    /* TODO: 
     si no se pone un color de fondo, este sera el del color de la fuente del elemento por defecto */



     margin: 10px 0 15px;
     padding: 20px;
     background: white;

     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;


}


.project__details{
    width: 50%;
}


.project__title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project__course, .project__date, .project__url{
    margin: 10px 0;
}

.project__descripction{
    font-size: 22px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}


.project__imageContainer{
    width: 40%;
    margin: 0;
}

.project__image{
    border-radius: 20px;
    /* TODO: es mejor usar un acho auto que eun ancho al 100%*/
    max-width: 100%;  /*En este caso si que se usa el 100%, pero el secreto de los img con los figure es el max-width y posiblemnte el object-fit cover para no perder la calidad de la imagen y su vista*/
    object-fit: cover;
    
}


/* EVENTOS */
.title-experience--space{
    margin-left: 20px;
}


.experience{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experience__event{
    margin: 1%;
    width: 48%;
    /* border: 1px red solid; */
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4fbff;

    flex-shrink: 0;
}

.experience__event-wraper{
    margin: 0;
}

.experience__image{
    width: 100%;
    height: 200px;
 
    /* object-fit: cover; sirve para cuando le damos tamaño a una imagen que no es proporcional con su tamaño original, y con esta propiedad hacemos que se mantenga proporcional 
    con el tamaño sin estar pixeleada y que se vea mal (como aplastada)*/
    object-fit: cover;


}

.experience__details{
    margin: 20px;
    margin-top: -40px;
    background-color: white;
    position: relative;  /*se vera mas adelante*/
    padding: 40px;
    text-align: center;
}

.experience__event-title{
    text-align: center;
}

.experience__event-description{
    text-align: left;
}

.experience__event-url{
    text-decoration: none;
    border: 2px solid #417dcc;
    padding: 5px 20px;
    border-radius: 10px;
    color: #026fff;
    cursor: pointer;
    transition: 300ms all ease-in;
}

.experience__event-url:hover{
    background-color:#417dcc;
    color: white;
}

/* Contacto */
.contact{
    background-color: rgb(32, 189, 163);
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    flex-wrap: wrap;
}



.social__link{
    font-size: 2.225em;
    display: inline-block;
    margin: 0 .2em;
    color: white;
}


.contact__form-email input{
    border-color: gray;
    padding: .5em 1em;
    border-radius: 5px;
    border-style: solid;

}

.contact__form-email button{
    /* display: block; */
    background-color: transparent;
    color: white;
    margin-left: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms all ease-in;
}

.contact__form-email button:hover{
    background-color: white;
    color: rgb(32, 189, 163);
}

.contact__title{
    font-family: 'Source Sans Pro', sans-serif;
}

/* /* footer */

.footer{
    background-color: rgb(30, 53, 77);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__imagen{
    vertical-align: middle;
    margin: 0 10px;    
}

.footer__text{
    display: flex;
    align-items: center;
}


.burger__menu{
    width: 2.5em;
    height: 2.5em;
    background-color: #417dcc;
    border-radius: 50%;
    display: none;
    line-height: 2.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 4;
    left: 0.3125em;
    top: 0.3125em;
}

.burger-button{
     color: white;
}












/* .flexblox{
    background-color: sandybrown;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

} */

/* .flexblox div:nth-child(1){
    align-self: flex-end;
} */



/* .flexblox div:nth-child(2){
    align-self: flex-start;
    order: 2;
}

.son{
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 4px solid red;
    background-color: salmon;
    font-size: 70px;
    flex-shrink: 0;
    text-align: center;
    color: white;


} */



/* ******************************************
******************************************* */
/* RESPONSIVE DESIGN  */
/* USO DE DESKTOP FIRST EMPEZANDO DE LOS MAS A LO MENOS */

@media screen and (max-width:1024px){
    .wrapper{
        padding: 0 1em ;
    }

    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
        flex-direction: row-reverse;
    }
    
    .hero__titulo{
        font-size: 2em;
        z-index: 2;
        text-shadow: 1px 2px 2px#000;
        
    }
    .hero__imagen{
        position: absolute;
        width: 100%;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0;
        object-fit: cover;
        
    }

    .title-experience{
        margin-left: 0;
    }
}



@media screen and (max-width:767px){
    .burger__menu{
        display: block;
      
    }

    .header__menu{
        position: fixed;
        top: 0;
        left: -100vw;
        height: 100vh; /*o tambien aplicar un bottom:0 para que se estire el menu*/
        width: 100vw;
        background-color: rgb(38, 191, 191,0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        transition: 500ms ease-in all;
    }

    .header__menu.is-active{
        left: 0;
        transition: 500ms ease-in all;
    }
    .header__link{
        font-size: 2em;
        text-decoration: underline;
        
    }
   
    /* TODO: */
    /* PRIMERA OPCION DE APLICAR ESTILOS POR MI VERSION CON FELX DIRECTION */
    .header {
        height: auto;
        flex-direction: column;
    }
    
    .header__list-ol{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    
    .header__item{
        height:4em;
        margin-bottom: .7em;
    }

     .header__logo{
        width: auto;
    }
   
    
    /* TODO: */
    /* SEGUNDA OPCION REALIZADA POR LEONIDAS ENEL VIDEO */
    /* .header {
        height: auto;
        display: block;
    }


    .header__list-ol{
       display: block;
    }
    
    .header__item{
        height: 50px;
    }

    .header__link{
        display: flex;
        justify-content: center;
    }

    .header__logo{
        width: auto;
        display: flex;
        justify-content: center;
    } */

    /* ESTILOS PARA QUE SE VEA MEJOR (EXTRA) */
    .header__imagen{
        width: 40px;
        height: 40px;
    }
    
    .header__innobytes{
        margin-left: 10px;
    }

    .hero {
        flex-direction: row;
    }
    .hero__imagen{
        filter: blur(1px);
        /* opacity: 95%; */
        /* object-position:  right right; */
    }

    .hero__titulo{
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.5);
        padding: .2em;
        border-radius: 8px;
    }

    .project_portfolio{
        display: block;
    }
    /* TODO: es mejor usar un acho auto que eun ancho al 100%*/
    .project__details{
        width: auto;
        font-size: 16px;
    }
    
    .project__imageContainer{
        width: auto;
        text-align: center;
    }

    .project__image{
        width: auto;
    }

    .project__title{
        font-size: 1.5em; /*equivalente a 16px * 1.5*/
        margin-bottom: .3em;
    }

    .project__general-title,.title-experience{
        margin: .5em 0;
    }

    

    .project__course{
        font-size: .7em; /*equivalente a 16px * 0.7*/
    }

    .project__date{
        font-size: 1em;
    }

    .project__url{
        font-size: 1em;
    }

    .project__descripction{
        font-size: 1em; /*equivalente a 16px * 0.8*/
    }

    .project__course, .project__date, .project__url{
        margin: 0.3em 0;
    }

    .experience__event{
        width: auto;
        flex-shrink: initial;
    }
    /* TODO://la etiqueta vale mas que la clase */
    .experience__image{
        width: 100%;
    }

    .experience__details{
        /* 1em = 16px */
        margin: -2em .5em .5em .5em;
        padding: 1em;
        /* TODO: propiedad interesante--> text-overflow: ellipsis/scroll; */
    }
    .contact__form-email button{
        display: block;
    }

    .social__link{
        font-size: 2.015em;
    }

    .contact__form-email input{
        padding: 5px;
    }

    .contact{
        padding: 1.5em 0;
    }

    .footer{
        display: block;
        padding: 0 1em;
        border: 1px solid transparent;
        text-align: center;
    }
    
    .footer__imagen{
        margin: 0 1em;
    }

    .footer__text{
        display: initial
    }
    
   
}



@media screen and (max-width:480px){

    .project__details{
        font-size: 14px;
    }

    .project__general-title, .title-experience{
        font-size: 1.1em;
    }

    .hero__titulo{
        font-size: 1.5em;
    }
    .contact{
        height: auto;
        display: block;
        text-align: center;
    }

    .contact__form-email button{
        margin: 1rem auto;
    }

    .contact__title{
        margin-top: 0;
    }

    
    
}



@media screen and (max-width:320px){
    .project__details{
        font-size: 10px;
    }

    .hero__titulo{
        font-size: 1.2em;
        margin: 0 auto;
    }

    .hero{
        padding: 2em 1em;
    }

    .hero__imagen{
        object-position:  center 125%;
    }
   
}




/* ******************************************
********************************************/
